.container {
  margin: 5% 0 0 25%;

  .artist-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  h1 {
    margin-left: 36px;
  }

  .words-container {
    margin-top: 100px;
    direction: rtl;
  }
}
