<div class="container" fxLayout="column">
  <div class="title" fxLayout="row" fxLayoutAlign="start center">
    <img class="artist-image" src="{{ generatedSong.artist.pictureUrl }}">
    <h1>
      {{ generatedSong.artist.name }}
    </h1>
  </div>
  <div>
    <div class="words-container">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div *ngFor="let sentence of sentences; let i = index">
         <sentence [sentence]="sentence" (onAnimationEnd)="showNext(i)" *ngIf="isShowedSentences[i]"></sentence>
          <br />
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" (click)="onGenerateNew()">Generate Again</button>
  </div>
</div>
